[Unit]
Description=goolsbee_bot
After=multi-user.target

[Service]
Type=simple
EnvironmentFile=/var/lib/goolsbee_bot/data/variables.env
ExecStart=/usr/local/bin/goolsbot neoliberal
User=admin
WorkingDirectory=/var/lib/goolsbee_bot
Restart=no

[Install]
WantedBy=multi-user.target